<footer>
    <nav>
        <a href="/index">Home</a>
        <a href="/ToDo">Todo List</a>
        <a href="/userPage">Account</a>
    </nav>
</footer>
<script type="module" src="/javascripts/script.js"></script>