<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/accountDetails.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/header') %>
    <!-- create code for a user details page -->
    <div class="container">
        <div class="accountDetails">
            <h1 class="text-center">Account Details</h1>
            <div class="accountDetailsContent">
                <div class="accountDetailsContentLeft">
                    <h4 class="mt-2">Account Information</h4>
                    <p>Username: @FirstLast</p>
                    <p>Email: FirstLast@gus.pittstate.edu</p>
                    <p>First Name: First</p>
                    <p>Last Name: Last</p>
                    <h2 class="mt-3">Change Password</h2>
                    <form id="passwordChangeForm">
                        <label>Old Password</label>
                        <input type="password" placeholder="Old Password" required>
                        <label>New Password</label>
                        <input type="password" placeholder="New Password" required>
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm Password" required>
                        <div>
                            <button class="btn btn-outline-secondary" id="changePasswordButton">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <p>Password changed successfully!</p></br>
                <button class="close btn btn-outline-danger">Close</button>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
<script src="/javascripts/accountDetails.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>